
@media (max-width:500px){

.emergency_button {
  margin-top: 25px;
  font-size: 75vmin;
  height: 95vmin;
  width: 95vmin;
  border-radius: 1rem;
}
p {
  font-size: 20px;
  font-weight: 900;
  color: red;
  text-align: center;
  margin-top: 55px;
  padding: 12px;
}
h1 {
  padding: 0.5rem 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #667eea;
}

}